@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #f5f5f5;
  }
}

/* Additional styles for Navbar */
nav {
  transition: background-color 0.3s ease;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #1a202c; /* Dark background color */
  color: #f7fafc; /* Light text color */
}

/* Add other dark mode styles as needed */